<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borken Bank - Hilfe </title>
    <link rel="stylesheet" href="styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"


</head>
<body>
    header>
        <a1>  <img src="https://www.iconsdb.com/icons/download/black/cash-receiving-128.jpg" </a>
        
         <p><a href="hilfe.html"><i class="fa-solid fa-phone"></i>Hilfe</a></p>
         <p><a href="postfach.html"><i class="fa-regular fa-envelope"></i>Postfach</a></p>
         <p><a href="profil.html"><i class="fa-regular fa-user"></i>Profil</a></p>
         <p><a href="AGB.html"><i class="fa-regular fa-bookmark"></i>AGB</a><p/>
      </header>
      <main>
       Hilfeseite
      </main>


    footer>
    <p>Borken-Bank AG</p>
    <p>Geschäftsführer: Loureen Niazi</p>
    <a href="https://www.borken-bank.de">Zur Homepage</a> 
    </footer>
</body>
</html>